{% extends 'base.html' %}

{% block title %}
Delete Confirm
{% endblock %}

{% block content %}
<div class="row">
    <h1>정말로 삭제하시겠습니까?</h1>
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <form action="" method="post">
            {% csrf_token %}
            <p>
                Do you want to delete {{object}} ?
            </p>
            <input class="btn btn-danger" type="submit" value="Delete">
        </form>
    </div>
    <div class="col-md-2"></div>
</div>

{% endblock %}